.text_box {
	/*position: fixed;
	top: 0;
	left: 32.5%;*/
	margin: auto;
}

#hamburger_menu {
	position: fixed;
	left: 0;
	padding-top: 1%;
	padding-bottom: 1%;
    background-color: rgba(37,37,37,0.85);
	-webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
	transition: ease 0.3s;
}
.hidden {
	height: 0px;
    width: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.shown {
	padding-right: 1%;
}

#overlay {
	min-width: 100vw;
    position: fixed;
	top: 0;
	left: 0;
}

#nav-bar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
	min-width: 100vw;
	width: 100%;
	height: auto;
	background-color: rgba(37,37,37,0.85);
    border-bottom: 2px solid rgba(37,37,37, 1);
}

.fa-search {
	margin: auto;
    margin-right: 3%;
	color: white;
	cursor: pointer;
}

.icon {
    display: block;
    width: 32px;
    height: 2px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fff;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.icon, [class^="icon-"], [class*=" icon-"], .custom-styled-select .outer:after {
    font-family: 'boilerplate';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-button {
	margin-right: auto;
	padding: 16px;
    padding-bottom: 4px;
	display: flex;
	justify-content: center;
}

#menu-trigger {
    height: 20px;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    opacity: 1;
    background: transparent;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#menu-trigger .icon:after, #menu-trigger .icon:before, #menu-trigger .icon {
    display: block;
    width: 40px;
    height: 4px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fff;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
#menu-trigger .icon:after, #menu-trigger .icon:before {
    content: " ";
    position: absolute;
}

.menu-trigger-not-active:hover .icon:before, .menu-trigger-active .icon:before  {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}
.menu-trigger-not-active:hover .icon:after, .menu-trigger-active .icon:after {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu-trigger-active:hover .icon:after, .menu-trigger-not-active .icon:after {
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}
.menu-trigger-active:hover .icon:before, .menu-trigger-not-active .icon:before {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
}

.menu_content {
    padding-left: 9%;
    padding-bottom: 8px;
    padding-top: 8px;
    /*border-top: 2px solid #252525;*/
	-webkit-transition: .3s ease-out;
	transition: 0.3s ease-out;
}
.menu_content:hover {
	background-color: #292929
}
.hidden > .menu_content > .menu_text {
	font-size: 0em;
}
.shown > .menu_content > .menu_text {
	font-size: 1.1em;
}

.menu_text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
	text-align: right;
    color: white;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    transition: ease 0.3s;
}

.menu_content:hover {
    cursor: pointer;
}
.menu_content:nth-child(1) {
    margin-top: 0;
    border-top: none;
}

#name {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

@media only screen and (max-device-width: 500px) {
	.shown {
		width: 100vw;
		height: auto;
	}
	.menu_content {
		padding: 5%;
	}
}
@media only screen and (min-device-width: 600px), (orientation:landscape) and (max-device-width: 1024px) {
	.shown {
		width: 30%;
		height: auto;
	}
	.menu_content {
		padding: 7.5%;
	}
}
@media only screen and (min-device-width: 1200px) {
	.shown {
		width: 12.5%;
		height: 100vh;
	}
	.menu_content {
		padding-top: 15%;
		padding-bottom: 15%;
		padding-right: 15%;
	}
	#name {
		font-size: 3em;
	}
}
