body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin: 0;
	max-width: 100vw;
	background-image: url("cloud_stock_background.jpg");
}

.logo_background {
	width: 175px;
	height: 175px;
	margin: auto;
	margin-top: 15%;
	background-color: #f8f8f8;
	border-radius: 100%;
	box-shadow: 0 0 10px black;
}

#logotype_image {
	height: 130px;
	width: auto;
	border-radius: 100%;
	position: relative;
	left: 17px;
	top: 24px;
}

.buttons {
	width: 615px;
	margin: auto;
	margin-top: 4%;
}

.button_style {
	margin: auto;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    padding: 19px 15px 17px;
    font-size: 14px;
    line-height: 1em;
    border: none;
    border-radius: 2px;
    min-width: 170px;
    color: #fff;
    background-color: #252525;
    border: 1px solid #252525;
    font-family: "Trade Gothic W01 Light",Helvetica,Arial,sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    text-overflow: ellipsis;
    overflow: hidden;

}

.button_style:hover {
	background-color: #000
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	width: 100%;
	height: 7.5%;
	background-color: rgba(37,37,37,0.85);
}

.fa-search {
	position: fixed;
	margin-top: 0.75%;
	right: 7.5%;
	color: white;
}

.icon {
    display: block;
    width: 32px;
    height: 2px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fff;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.icon, [class^="icon-"], [class*=" icon-"], .custom-styled-select .outer:after {
    font-family: 'boilerplate';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#menu-trigger {
	margin-left: 7.5%;
	margin-top: 1%;
    float: left;
    height: 20px;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    z-index: 1000;
    opacity: 1;
    background: transparent;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#menu-trigger .icon:after, #menu-trigger .icon:before, #menu-trigger .icon {
    display: block;
    width: 40px;
    height: 4px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fff;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#menu-trigger .icon:after, #menu-trigger .icon:before {
    content: " ";
    position: absolute;
}

#menu-trigger .icon:before {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
}

#menu-trigger .icon:after {
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}

#menu-trigger:hover .icon:before {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

#menu-trigger:hover .icon:after {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.text {
	font-family: "Trade Gothic W01 Light",Helvetica,Arial,sans-serif;
    color: white;
}

#name {
    font-size: 25px;
    margin: 0;
    margin-top: 1%;
    text-align: center;
}

#intro {
	font-size: 14px;
	margin: 0;
	text-align: center;
}

.text_box {
	width: 35%;
	position: fixed;
	top: 0;
	left: 32.5%;
}
